


body{
    height:1000px ;
}

#container{
    display: flex;
    position: relative;
    height:1000px;
    margin-top: -8px;
    margin-left: -8px;
}
#content{
    width: 100%;
    background-color:rgb(34, 52, 68) ;
}

form{
    display: flex;
    width:100%;
    color:white;
    line-height: 2;
    height: 350px;
    font-size:larger;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formdiv{
    width: 350px;
    margin-left: 90px;
}

#formcontainer{
    background-color:rgb(26, 41, 54) ;
    height: 250px;
    width: 100%;
    margin-top: 100px;
    margin-right:30px;
    display:flex;
    flex-wrap: wrap;
    
}










input{
    width: 100%;
    
}
input[type=text]:focus {
    border: 3px solid rgb(34, 52, 68);
  }

h1{
    color: white;
    font-size: 40px;
    margin-top: 200px;
    margin-left: 90px;
}

button{
    margin-left: 90px;
  padding: 20px 35px;
  text-align: center;
  font-size: 18px;
  border-radius: 15px;
  transition-duration: 0.4s;
  background-color:rgb(34, 52, 68);
  color: white;
  border: 2px solid rgb(66, 99, 129);
}

  
button:hover {
    background-color: rgb(66, 99, 129);
    color: white;
}



#odinimg{
    margin-left: -570px;
    position:absolute;
    margin-top: 200px;
}